{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Student Profile</title>
  <link rel="stylesheet" href="{% static 'css/profile.css' %}">
</head>
<body>
    {% include 'header.html' %}
  <h1>Student Profile</h1>

  <table class="invisible-table">
    <thead>
      <tr>
        <th>Student Details</th>
        <th>Current Education Details</th>
        <th>Past Education Details</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          {% for i in detail %}
          {% if user.username == i.USN %}
          <ul>

            <li>First Name: {{ i.First_Name }}</li>
            <li>Middle Name: {{ i.Middle_Name }}</li>
            <li>Last Name: {{ i.Last_Name }}</li>
            <li>Branch: {{ i.Branch }}</li>
            <li>Email: {{ i.EMAIL }}</li>
            <li>Contact Number: {{ i.Contact_Number }}</li>
          </ul>
          {% endif %}
          
          {% endfor %}
        </td>
        <td>  
          {% for i in detail %}     
          {% if user.username == i.USN %}  
          <ul>
            <li>USN: {{ i.USN }}</li>
            <li>First Sem GPA: {{ i.First_Sem_GPA }}</li>
            <li>Second Sem GPA: {{ i.Second_Sem_GPA }}</li>
            <li>Third Sem GPA: {{ i.Third_Sem_GPA }}</li>
            <li>Fourth Sem GPA: {{ i.Fourth_Sem_GPA }}</li>
          </ul>
          {% endif %}
          {% endfor %}
        </td>
        <td>
          {% for i in detail %}
          {% if user.username == i.USN %}
          <ul>
            <li>Tenth Scheme: {{ i.Tenth_Scheme }}</li>
            <li>Tenth Grade: {{ i.Tenth_Grade }}</li>
            <li>Twelfth Scheme: {{ i.Twelth_Scheme }}</li>
            <li>Twelfth Grade: {{ i.Twelth_Grade }}</li>
            <li>KCET Rank: {{ i.KCET_Rank }}</li>
          </ul>
          {% endif %}
          {% endfor %}
        </td>
      </tr>
    </tbody>
  </table>
</body>
</html>
