{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Sign Up</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/signup.css' %}">
</head>
<body>
  {% include 'header.html' %}
    <div class="container">
        <form method="POST" action="{% url 'signup' %}">
            {% csrf_token %}
            <h2>Sign Up</h2>
            <div class="form-group">
                <label for="username">USN:</label>
                <input type="text" id="username" name="username" required>
            </div>
            {% comment %} <div class="form-group">
                <label for="usn">USN:</label>
                <input type="text" id="usn" name="usn" required>
            </div> {% endcomment %}
            <div class="form-group">
                <label for="contact">Contact Number:</label>
                <input type="text" id="contact" name="contact" required>
            </div>
            <div class="form-group">
                <label for="email">Email:</label>
                <input type="email" id="email" name="email" required>
            </div>
          <div class="form-group">
              <label for="year" class="form-label">Select Year:</label>
              <select name="year">
                  <option value="I">I</option>
                  <option value="II">II</option>
                  <option value="III">III</option>
                  <option value="IV">IV</option>
                  <option value="V">V</option>
              </select>
          </div>
            <div class="form-group">
                <label for="branch">Branch:</label>
                <select name="cars" name="branch">
                  <option value="Architecture">Architecture</option>
                  <option value="AIML">AIML</option>
                  <option value="Civil">Civil</option>
                  <option value="CSE">CSE</option>
                  <option value="ECE">ECE</option>
                  <option value="EEE">EEE</option>
                  <option value="ISE">ISE</option>
                  <option value="Mechanical">Mechanical</option>
                </select>
            </div>
            <div class="form-group">
                <label for="password">Password:</label>
                <input type="password" id="password" name="password" required>
            </div>
            <div class="form-group">
                <label for="password1">Confirm Password:</label>
                <input type="password" id="password1" name="password1" required>
            </div>
            <div class="form-group">
                <input type="submit" value="Sign Up">
            </div>
        </form>
    </div>
</body>
</html>
