    {% load static %}
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">   
        <link rel="stylesheet" href="{% static 'css/studentDetails.css' %}">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>All Companies</title>
        <style>
            table, th, td{
                border:1px solid black;
                padding : 2px;

            }
            th{
                width: 200em;
            }
            table{
                margin-left:50px;
            }
            .dd{
                width: fit-content;
            }
        </style>
    </head>
    <body>
        {% include 'header.html' %}
        <table class="table">
            <thead>
                <thead>
                    <tr class="table">
                        <th class="table-primary">SI No.</th>
                        <th>USN</th>
                        <th>Company Name</th>
                        <th>Category</th>
                        <th>Job Role</th>
                        <th class='dd'>Job Location</th>
                    </tr>
                </thead> 
            
            </thead>
            <tbody>
                {% for i in deets %}
                <tr>
                    <th scope="col">{{ forloop.counter}}</th>
                    <th scope="col">{{i.USN}}</th>
                    <th scope="col">{{i.company_name}}</th>
                    <th scope="col">{{i.category}}</th>
                    <th scope="col">{{i.role}}</th>
                    <th scope="col">{{i.joblocation}}</th>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </body>
    </html>